<div>
    <div class="footer-top text-white p-5">
        <div class="container d-flex aling-item-center justify-content-between">
            <div class="p-3 text-center">
                <h3 class="pt-4">LOCATION</h3>
                <p class="mb-3">2215 John Daniel Drive</p>
                <p class="mb-3">Clark, MO 65243</p>
            </div>
            <div class="p-3 text-center">
                <h3 class="pt-4">AROUND THE WEB</h3>
                <div class="">
                    <i class="fa-brands fa-facebook mx-1 social"></i>
                    <i class="fa-brands fa-twitter mx-1 social"></i>
                    <i class="fa-brands fa-linkedin-in mx-1 social"></i>
                    <i class="fa-solid fa-globe mx-1 social"></i>
                </div>
            </div>
            <div class="p-3 text-center">
                <h3 class="pt-4">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                
            </div>
        </div>
    </div>
    <div class="footer-b text-center text-white py-4">
        <p>Copyright © Your Website 2021</p>
    </div>
</div>
