<div class=" my-container bg-color1 d-flex align-items-center justify-content-center flex-column pt-5">
    <div class="text-center pt-4 mt-3">
        <h2 class="text-uppercase fs-1 fw-bolder text-white mb-3">about component</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="bg-white line me-3"></div>
            <i class="fa-solid fa-star text-white"></i>
            <div class="bg-white line ms-3"></div>
        </div>
    </div> 
    <div class="container w-75">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white fs-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-white fs-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
        </div>
    </div>
</div>